.header {
    position: sticky;
    top:0;
    display: flex; 
    background-color: white;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 999;
  
  }

  .header_left {
      display: flex;
  }
.header__left > img {
    display :flex;
    object-fit: contain;
    height: 150px;
    margin-right:1200px;
}
.header__left > h1 {
 display :flex;
 margin-left: 100px;
 
}